.review-content {
	padding: 5%;
	background-color: white;
}

.review-block {
	margin-bottom: 20px;
/*	display: flex;*/
}

.review-label {
	display: block;
	margin-right: 15px;
	font-weight: 300;
	font-size: 110%;
}

.review-fields div {
	display: block;
}

.required-field-star {
	color: red;
	margin-left: 5px;
}

.review-list {
	margin-top: 50px;
}

/*********************************** USER COMMENT ***********************************/

.review-list-item {
}

.review-list-item hr {
	visibility: hidden;
}

.review-list-item + .review-list-item hr {
	visibility: visible;
}

.user-review {
	display: flex;
}

.review-avatar {
    display: flex;
    width: 60px;
    height: 60px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 23px;
	letter-spacing: 2px;
    margin-right: 20px;
    color: white;
}

/*
.review-avatar img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: url(http://link-to-your/image.jpg) no-repeat;
}
*/

.review-detail {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.review-header {
}

.review-info {
	display: flex;
	justify-content: space-between;
}

.review-author {
	text-transform: uppercase;
	font-weight: 400;
}

.review-date {
}

.review-raiting {
}

.review-body {
}

.review-title {
	display: block;
	font-size: 1.3rem;
	font-weight: 600;
	margin: 10px 0 10px 0;
}

.review-message {
}

