<link rel="stylesheet" type="text/css" href="css/contacts.css">

<div class="contacts-info">
	<h4>Contact us</h4>
	<hr>
	<div class="contact-container">
		<p>We welcome and value your feedback.</p>
		<p>Our support team is available to talk to you from 9am - 5:30pm, Monday to Friday!<br><br></p>
		<div class="contact-list">
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/europe-flag_large.png" alt="">
				<div>
					<span>Europe:</span>
					<a href="tel:+49-0-6101-5481086" id="contect-phone">+49 (0)6101 5481086</a>
				</div>
				<a href="mailto:support@ashleybridget.eu">support@ashleybridget.eu</a>
			</div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/Ireland_large.png" alt="">
				<div>
					<span>Ireland:</span>
					<a href="tel:01 254 9822" id="contect-phone">01 254 9822</a>
				</div>
				<a href="mailto:support@ashleybridget.ie">support@ashleybridget.ie</a></div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/united_kingdom_large.png" alt=""> 
				<div>
					<span>UK:</span>
					<a href="tel:020 3239 2479" id="contect-phone">020 3239 2479</a>
				</div>
				<a href="mailto:support@ashleybridget.co.uk">support@ashleybridget.co.uk</a></div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/canada-flag_large.png" alt="">
				<div>
					<span>Canada:</span>
					<a href="tel:1 (877) 724 0804" id="contect-phone">1 (877) 724 0804</a>
				</div>
				<a href="mailto:support@ashleybridget.ca">support@ashleybridget.ca</a>
			</div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/Australia_large.png" alt="">  
				<div>
					<span>Australia:</span>
					<a href="tel:02 8006 4858" id="contect-phone">02 8006 4858</a>
				</div>
				<a href="mailto:support@ashleybridget.com">support@ashleybridget.com</a></div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/Spain.png" alt="">
				<div>
					<span>Spain:</span>
					<a href="tel:911230131" id="contect-phone">911230131</a>
				</div>
				<a href="mailto:soporte@ashleybridget.es">soporte@ashleybridget.es</a></div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/France_large.png" alt=""> 
				<div>
					<span>France:</span>
					<a href="tel:0977 199 862" id="contect-phone">0977 199 862</a>
				</div>
				<a href="mailto:support@ashleybridget.fr">support@ashleybridget.fr</a>
			</div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/USA_large.png" alt="">  
				<div>
					<span>USA:</span>
					<a href="tel:1 (877) 724 0804" id="contect-phone">1 (877) 724 0804</a>
				</div>
				<a href="mailto:support@ashleybridget.com">support@ashleybridget.com</a>
			</div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/Germany_large.png" alt="">
				<div>
					<span>Germany:</span>
					<a href="tel:0800 3210456" id="contect-phone">0800 3210456</a>
				</div>
				<a href="mailto:kundenservice@ashleybridget.de">kundenservice@ashleybridget.de</a>
			</div>
			<div class="contact-item">
				<img src="http://newca.briskdev.com/media/wysiwyg/contact_us/Italy_large.png" alt=""> 
				<div>
					<span>Italy:</span>
					<a href="tel:0694801068" id="contect-phone">0694801068</a>
				</div>
				<a href="mailto:supporto@ashleybridget.it">supporto@ashleybridget.it</a>
			</div>
		</div>
	</div>
</div>