.about-content {
	padding: 20px;
}

.social_links {
	margin-top: 20px;
}

.social-icons {
	background: url('../img/social-sprites.png') no-repeat;
	display: inline-block;
	margin-right: 20px;
}

.social-icons.icon-facebook {
	background-position: 0 0;
    width: 24px;
    height: 24px;
}

.social-icons.icon-facebook:hover {
	background-position: 0 -27px
}

.social-icons.icon-instagram {
    background-position: -27px 0;
    width: 24px;
    height: 24px;
}

.social-icons.icon-instagram:hover {
	background-position: -27px -27px
}

.social-icons.icon-pinterest {
	background-position: -54px 0;
	width: 22px;
	height: 24px
}

.social-icons.icon-pinterest:hover {
	background-position: -54px -27px
}

.social-icons.icon-youtube {
	background-position: -75px 0;
	width: 24px;
	height: 24px
}

.social-icons.icon-youtube:hover {
	background-position: -75px -27px
}

.social-icons.icon-snapchat {
	background-position: -102px 0;
	width: 25px;
	height: 24px
}

.social-icons.icon-snapchat:hover {
	background-position: -102px -27px
}