body {
	margin: 0;
	font-family: Roboto;
	font-size: 90%;
	overflow-x: hidden;
	overflow-y: auto;
	
	--color-pink: #EF4F97;
	--color-dark: #252525;
}

p {
	font-size: 90%;
}

.mdl-layout .mdl-layout__drawer-button {
  display: none;
}

.mdl-layout .mdl-layout-icon {
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mdl-layout__header {
	background: var(--color-dark);
}

.mdl-layout__header-row {
	background: var(--color-dark);
}

.content {
	background-color: white;
	width: 100%;
	position: absolute;
}

.mdl-layout__drawer .inner-header {
	width: 100%;
	height: 100px;
	background-color: var(--color-dark);
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	color: #FFF;
	padding: 20px 0;
	box-sizing: border-box;
}

.inner-subheader {
	width: 100%;
	height: auto;
	background-color: var(--color-dark);
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	color: #FFF;
	padding: 10px 0;
	display: grid;
}

.inner-subheader-link {
	text-transform: uppercase;
	font-size: 12px;
	color: #FFF;
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
}

.inner-subheader-link:hover {
	color: var(--color-pink);
}

.mdl-layout__drawer .inner-header span {
	display: block;
	font-size: 16px;
}

.mdl-layout__title, .mdl-layout-title {
	font-size: 110%;
}

.menu-item-list {
	list-style: none;
	margin: 16px 0;
	padding: 0;
}

.menu-item, .menu-expand-item {
	padding: 0 16px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

.menu-item:hover, .menu-expand-item:hover {
	background: #F3F3F3;
	cursor: pointer;
}

.menu-item-list li i {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 12px;
	margin-right: 32px;
}

.inner-footer {
	padding: 16px;
	font-size: 14px;
}

.user-profile-nav {
	list-style: none;
	padding: 0px;
}

.user-profile-nav li {
	display: inline;
}

.center-icon {
	height: 56px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 0;
	margin-top: -28px;
	color: #CCC;
	pointer-events: none;
}
.center-icon i {
	font-size: 56px !important;
	color: #CCC;
	margin-left: 10px;
	float: left;
}

.center-icon i.arrow{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

.center-icon .text {
	height: 56px;
	line-height: 70px;
	margin-left: 20px;
	float: left;
	font-size: 25px;
}

.signin-form {
	margin: 10px;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.signin-form div {
	width: 300px;
}

.mdl-color--accent {
 	background-color: var(--color-pink) !important; 
}

.mdl-layout__header-row {
	padding-left: 0px;
	padding-right: 0px;
}

/* BUTTONS COLOR */
.mdl-button--raised.mdl-button--colored {
	background-color: var(--color-dark) !important; 
} 

/* BUTTONS COLOR */
.mdl-button--raised.mdl-button--colored:focus {
	background-color: var(--color-pink) !important; 
} 

/* TAB SELECTED COLOR */
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
	background-color: var(--color-pink) !important; 
}

/* TEXT FIELD SELECTED COLOR */
.content .mdl-textfield__label:after {
	background-color: var(--color-pink) !important;
}
.content .mdl-textfield--floating-label {
	color: var(--color-dark) !important;
}
.content .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
	color: var(--color-pink) !important;
}
.content .mdl-textfield--floating-label.is-dirty.is-focused .mdl-textfield__label {
	color: var(--color-pink) !important;
}
.content .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	color: var(--color-dark) !important;
}

/* CHECKBOX COLOR */
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
	background-color: var(--color-dark) !important;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border-color: var(--color-dark) !important;
}

.mdl-dialog {
	padding: 24px;
}

.mdl-dialog__title {
	padding: 10px 0;
	font-size: 150%;
}

.mdl-dialog__content {
	padding: 0px;
}

.mdl-dialog__actions {
	padding: 0px;
}
	

.product-item-link, .category-item-link {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-dark);
}

.product-item-link:hover, .category-item-link:hover {
	color: var(--color-pink);
}

.price {
    color: var(--color-dark);
    font-size: 120%;
    font-weight: 300;
    line-height: 24px;
}

.product-info-price {
	color: rgb(87, 87, 87);
	box-sizing: border-box;
	font-size: 24px;
	font-weight: 400;
	font-family: "HelveticaNeue-regular", sans-serif;
}

.product-info-price-box {
	display: table-cell;
}

.including-excluding {
	font-family: "HelveticaNeue-regular", sans-serif;
	display: table-cell;
	font-size: 12px;
	font-weight: 300;
	box-sizing: border-box;
	color: rgb(87, 87, 87);
	vertical-align: middle;
	padding-left: 10px;
	line-height: 18px;
}

.including-excluding a {
	color: rgb(136, 136, 136);
	text-decoration: none;
}

.including-excluding a:hover {
	color: var(--color-pink);
}

.product-cell {
	display: run-in;
	text-align: center;
	padding: 10px;
	width: 200px;
}

@media only screen and (max-width:480px) {
	.product-cell {
		width: calc((100% - 40px) / 2);
	}
}

.product-list {
	margin-left: auto;
	margin-right: auto;
/*	background-color: white;*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
	
@media screen and (min-width: 1024px) {
	.product-list {
		width: 900px;
	}
}
	
@media screen and (min-width: 1248px) {
	.product-list {
		width: 1024px;
	}
}

#pagination-container {
	margin: 20px;
	display: flex;
	width: 100%;
}

#pagination-container div {
	margin: auto;
}

.product-form {
	display: block;
/*	background-color: white;*/
	height: 100%;
	padding: 4vw;
}

.product-info {
	width: 100;
/*	background-color: white;*/
}

.product-image-photo {
	height: auto;
	width: 100%;
}

.product-name {
	font-size: 120%;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.product-info-name {
	font-size: 125%;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.product-gallery {
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.product-gallery-selected-photo {
	margin-bottom: 10px;
	width: 80%;
	max-width: 300px;
	height: auto;
}

.product-reviews-summary {
	margin-top: 10px;
	display: flex;
	color: rgb(136, 136, 136);
	align-items: center;
}

.product-reviews-summary div {
/*	display: inline-flex;*/
	align-items: center;
	margin-left: 15px;
	margin-right: 15px;
}

.product-reviews-summary a {
	color: rgb(136, 136, 136);
	font-weight: 300;
	text-decoration: none;
}

.product-qty-select {
	width: 100px;
}

.product-cart-box {
	display: block;
}

.product-cart-box div {
	display: inline-block;
	margin: 10px;
}

.rating {
	display: inline-block;
}

.product-info-title {
	margin-top: 15px;
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
	
.product-info-btn-more-group {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
	
.product-more-btn {
	background-color: #7f7f7f;
	color: white;
	width: 80%;
	position: relative;
	text-align: center;
	font-size: 125%;
}


@media (orientation:landscape) {
	.product-form {
		margin: auto;
		display: table;
	}
	
	.product-info {
/*		margin: auto;*/
		display: table;
	}
	
	.product-info-name {
		width: 60%;
		max-width: 650px;
		float: right;
		text-align: left;
	}
	
	.product-gallery {
		width: 40%;
		float: left;
	}
	
	.product-info-main {
		width: 60%;
		max-width: 650px;
		float: right;
	}
}

.badged-button {
	display: flex;
	margin-right: 10px;
}

.not-ready {
	margin: 30px;
	font-size: 150%;
	font-weight: 900;
	color: rgb(90, 90, 90);
	text-align: center;
}