.orders-content, .cart-content {
	margin: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.cart-content {
	top: 56px;
}

.cart-header {
	width: calc(100% - 20px);
	text-align: center;
	background-color: #ECEFF1;
	font-size: 19px;
	padding: 20px;
	position: fixed;
	z-index: 99;
	box-shadow: 0px 0px 3px 1px #000000;
}

.order-item-body {
	margin: auto;
}

#table {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.table-item {
	margin: 10px;
	min-width: 250px;
}

.table-item.mdl-card {
	width: 100%;
	min-height: 80px;
}

.order-product-list-item {
	display: flex;
	line-height: 30px;
	justify-content: space-between;
}

.order-product-list {
}

#cart-item-price {
	font-weight: 800;
}

#order-product-name {
	color: var(--color-dark);
	font-size: 15px;
}

.button-icon {
	color: rgb(115, 115, 115);
}

.cart-item-actions {
	display: flex;
	justify-content: space-between;
}

.cart-item-plus-minus-field {
	display: flex;
	justify-content: space-between;
}

.cart-item-title {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.cart-item-qty {
	display: flex;
	width: 40px;
	justify-content: space-around;
	align-items: center;
}

.cart-item-qty span {
}