.contacts-info {
	padding: 20px;
}

.contact-container {
}

.contact-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.contact-item {
/*	width: 200px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.contact-item div {
	margin: 10px 0;
}

#contect-phone {
	margin-left: 10px;
}

.contact-item a {
	color: dimgrey;
}

.contact-item div {
	display: flex;
	width: auto;
	flex-wrap: nowrap;
}

.contact-item a:hover {
	color: var(--color-pink);
}

@media only screen and (max-width:480px) {
	.contact-list div {
/*		width: calc((100% - 40px) / 2);*/
	}
}

