<script type="text/javascript" src="js/account.js"></script>
<script>
	document.getElementById('current-user-email').innerHTML = currentUser;
</script>
<style>

	#account-content {
		margin: 30px;
		font-size: 110%;
	}
	
	#account-actions {
		margin-top: 30px;
	}
	
	#current-user-email {
		font-weight: bold;
	}
	
</style>
<div id="account-content">
	<span>Email:
		<span id="current-user-email"></span>
	</span>
	<div id="account-actions">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="logout();">
			Log out
		</button>
	</div>	
</div>