<link rel="stylesheet" type="text/css" href="css/pagination.css">
<script type="text/javascript" src="js/product-list.js"></script>
<script>
	
	function loadProductList(title, fileName) {
		setTitle(title);
		$(doc).ready(function() {
			fillListByProducts(fileName);
		});
	}
</script>

<div id="prodList">
	<div id="data-container" class="product-list"></div>
	<div id="pagination-container"></div>
</div>

<template id="product-template">
	<div>
		<div class="product-cell">
			<img class="product-image-photo" id="product-photo" src="">
			<strong class="product name product-item-name">
				<span class="product-item-link" id="product-link" data-content="product"></span>
			</strong>
			<div class="price-box price-final_price" data-role="priceBox" data-product-id="2112">
				<span class="price" id="product-price"></span>
			</div>
		</div>
	</div>
</template>