<link rel="stylesheet" type="text/css" href="css/getmdl-select.min.css" /> 
<link rel="stylesheet" type="text/css" href="css/raiting.css" /> 


<script>
	
	function load(name, image, price) {
		showMenuBackButton();
		currentProduct = name;
		currentProductPrice = price;
		setTitle(name);

		document.getElementById("selected-photo").src = image;
		document.getElementById("product-name").innerHTML = name;
		document.getElementById("product-price").innerHTML = price;
		document.getElementById("product-review-link").href = "review.html?prod=" + name;	
	}
	
	$(document).ready(function() {
		$("#product-review-link").click(function() {
			$.ajax({
				type: 'GET',
				url: "views/reviews.html",
				dataType: 'html',
				success: function(data) {
					openPage(PAGE_TYPE_DETAIL, data, function() {
						loadReview(currentProduct);
					});
				}
			});
		});
	});
</script>

<div class="product-form">
	<div class="product-info">
		<div class="product-info-name" id="product-name"></div>
		<div class="product-gallery">
			<img class="product-gallery-selected-photo" src="" id="selected-photo">
		</div>
		<div class="product-info-main">
			<div class="product-info-price">
				<div class="product-info-price-box price-final_price">
					<span class="product-info-price" id="product-price"></span>
				</div>

				<span class="including-excluding">
					incl. VAT, excl. <a href="" target="_blank">Shipping Costs</a>
				</span>
			</div>
			<div class="product-reviews-summary">
				<fieldset class="rating" style="pointer-events: none;">
					<input type="radio" id="star5" name="rating" value="5" checked/><label id="lab5" class = "full" for="star5" title="Excellent"></label>
					<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Very good"></label>
					<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Average"></label>
					<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Poor"></label>
					<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Terrible"></label>
				</fieldset>
				<div class="reviews-actions">
					<a class="action view" href="http://eu.briskdev.com/new-arrivals/awareness-11-bracelet#reviews"><span itemprop="reviewCount">7</span>&nbsp;<span>Reviews</span></a>
				</div>
			</div>
			<div class="product-cart-box">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select product-qty-select">
					<label class="mdl-textfield__label" for="product-qty">QTY</label>
					<select class="mdl-textfield__input" id="product-qty">
						<option class="mdl-menu__item">0</option>
						<option class="mdl-menu__item">1</option>
						<option class="mdl-menu__item">2</option>
						<option class="mdl-menu__item">3</option>
						<option class="mdl-menu__item">4</option>
						<option class="mdl-menu__item">5</option>
						<option class="mdl-menu__item">6</option>
						<option class="mdl-menu__item">7</option>
						<option class="mdl-menu__item">8</option>
						<option class="mdl-menu__item">9</option>
					</select>
				</div>
				<div>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="addToCart()">
						Add to cart
					</button>
				</div>
			</div>
			<div class="product info detailed">
				<span class="product-info-title">Details</span>
				<div class="product attribute description">
					<div class="value">
						<p class="p1">We live in a completely interdependent world, which simply means we cannot escape each other. How we respond to AIDS depends, in part, on whether we understand this interdependence. It is not someone else's problem. This is everyones problem. Wear the AIDS Awareness bracelet to raise funds for HIV/AIDS research and help shine light on the fact that AIDS effects us all.&nbsp;</p>
						<p>The AIDS Awareness&nbsp;bracelet includes a silver&nbsp;plated bangle bracelet with a red plated ribbon&nbsp;charm.&nbsp;<span>This bracelet fits most female wrist sizes&nbsp;using an open and close clasp hinge.</span></p>
						<p>This accessory is packaged in our signature black box with a certificate of authenticity.&nbsp;</p>
						<p><strong>AIDS AWARENESS&nbsp;BRACELET INCLUDES:</strong></p>
						<ul>
							<li>1 SILVER&nbsp;Plated Bangle Bracelet</li>
							<li>1 RED&nbsp;Plated Ribbon&nbsp;Charm</li>
							<li>2 Pink Crystals</li>
						</ul>
						<meta charset="utf-8">
						<p><strong><i>Designed by&nbsp;</i> <span style="color: #ea9999;"> <b>ASHLEY BRIDGET</b></span></strong></p>
						<p><strong>A portion of proceeds is donated towards HIV/AIDS research with every purchase.</strong></p>
					</div>
				</div>
			</div>

			<span class="product-info-title">Shipping &amp; Returns </span>
			<div >Default Value for Shipping and Returns</div>
		</div>
	</div>
	<div class="product-info-btn-more-group">
		<button id="product-review-link" class="product-more-btn mdl-button mdl-js-button mdl-js-ripple-effect">Reviews</button> 
	</div>
</div>
