<script type="text/javascript" src="js/account.js"></script>
<script>
	setTitle("Authorization");
	
	function loadCreateAcc() {		
		$('#sign-in').removeClass('is-active');
        $('#create-acc').addClass('is-active');
        $('#signin-panel').removeClass('is-active');
        $('#create-panel').addClass('is-active');
	}
</script>

<!------------------------------------------------------------------------------------------
	PAGE CONTENT
------------------------------------------------------------------------------------------->
<div class="">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__tab-bar">
			<a id="sign-in" href="#signin-panel" class="mdl-tabs__tab is-active">Sign in</a>
			<a id="create-acc" href="#create-panel" class="mdl-tabs__tab">Create account</a>
		</div>
			
<!------------------------------------------------------------------------------------------
	SIGN IN
------------------------------------------------------------------------------------------->	
		<div class="mdl-tabs__panel is-active" id="signin-panel">	
			<div class="signin-form">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="email" id="fSinginEmail">
					<label class="mdl-textfield__label" for="fSinginEmail">Email Address</label>
					<span class="mdl-textfield__error">Email is not valid</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" id="fSigninPassword" pattern=".{6,}">
					<label class="mdl-textfield__label" for="fSigninPassword">Password</label>
					<span class="mdl-textfield__error">Password is too short</span>
				</div>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="signin();">
					Ok
				</button>
			</div>
		</div>
			
<!------------------------------------------------------------------------------------------
	CREATE ACCOUNT
------------------------------------------------------------------------------------------->	

		<div class="mdl-tabs__panel" id="create-panel">
			<div class="signin-form">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="fFirstName" required  pattern=".{2,15}">
					<label class="mdl-textfield__label" for="fFirstName">* First Name</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="fLastName" required  pattern=".{2,30}">
					<label class="mdl-textfield__label" for="fLastName">* Last Name</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="email" id="fEmail" required >
					<label class="mdl-textfield__label" for="fEmail">* Email Address</label>
					<span class="mdl-textfield__error">Email is not valid</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" id="fPassword" required pattern=".{6,}">
					<label class="mdl-textfield__label" for="fPassword">* Password</label>
					<span class="mdl-textfield__error">Password is too short</span>
				</div>
<!--
				<div style="width:100%; text-align: left; margin-bottom: 5px;">
					<span style="font-size: 14px;">Password Strength: No Password</span>
				</div>
-->
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" id="fRepeatPassword" required >
					<label class="mdl-textfield__label" for="fRepeatPassword">* Confirm Password</label>
				</div>
				<div style="margin-top: 5px;margin-bottom: 15px;">
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cbNewsletters">
						<input type="checkbox" id="cbNewsletters" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Sign Up for Newsletter</span>
					</label>
				</div>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="createAccount()">
					Sign up
				</button>
			</div>
		</div>
	</div>
</div>