<link rel="stylesheet" type="text/css" href="css/about.css">

<div class="about-content">
	<h4>We in socials:</h4>
	<hr>
	<div class="social_links">
		<a href="http://www.facebook.com/ashleybridgetco" target="_blank" class="facebook"><i class="social-icons icon-facebook"></i></a>
		<a href="http://www.instagram.com/ashleybridgetco" target="_blank" class="instagram"><i class="social-icons icon-instagram"></i></a>
		<a href="http://www.pinterest.com/source/ashleybridget.com" target="_blank" class="pinterest"><i class="social-icons icon-pinterest"></i></a>
		<a href="https://www.youtube.com/channel/UC_5Q4Gf-r5Y_ZtF7QkjRJmQ" target="_blank" class="youtube"><i class="social-icons icon-youtube"></i></a>
		<a href="#" target="_blank" class="snapchat js-modal-popup" data-modal="snapchat-popup"><i class="social-icons icon-snapchat"></i></a>
	</div>
</div>