<link rel="stylesheet" type="text/css" href="css/cart.css" />

<script>
	setTitle('Cart');
	
	var tableBody = document.getElementById("table");
	var templ = document.querySelector("#cart-item-templ");
	
	var list = JSON.parse(localStorage.getItem("items"));
	for (var itemName in list) {
		var item = list[itemName];
		var clone = document.importNode(templ.content, true);
		clone.querySelector("#cart-item-name").textContent = itemName;
		clone.querySelector("#cart-item-qty").textContent = item.qty;
		clone.querySelector("#cart-item-price").textContent = item.price;
		tableBody.appendChild(clone);
	}
	countCartProducts();
	
</script>

<div data-role="toolbar" data-type="header"  class="cart-header" data-position-fixed="true">
	<span>Cart subtotal (<span id="cart-total-count"></span> items): </span>
	<span id="cart-subtotal"></span>
	<div class="mdl-card--border"></div>
</div>

<div class="cart-content">
	<div id="table"> </div>
</div>

<template id="cart-item-templ">
	<div class="table-item mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<span class="mdl-card__title-text" id="cart-item-name"></span>
		</div>
		<div class="mdl-card__supporting-text">
			<span class="mdl-card__subtitle-text">
				Price: <span id="cart-item-price"></span>
			</span>
		</div>
		<div class="cart-item-actions mdl-card__actions mdl-card--border">
			<div class="cart-item-plus-minus-field">
				<button class="mdl-button mdl-js-button mdl-button--icon" onclick="decProductCount(this)">
					<i class="button-icon material-icons">remove_circle_outline</i>
				</button>
				<div class="cart-item-qty"><span id="cart-item-qty"></span></div>
				<button class="mdl-button mdl-js-button mdl-button--icon" onclick="incProductCount(this)">
					<i class="button-icon material-icons">add_circle_outline</i>
				</button>
			</div>
			<button class="mdl-button mdl-js-button mdl-button--icon" onclick="deleteProductFromCart(this)">
				<i class="button-icon material-icons">delete</i>
			</button>
		</div>
	</div>
</template>