<div class="products-list" id="prodList"> </div>

<script type="text/javascript" src="js/product-list.js"></script>

<link rel="stylesheet" type="text/css" href="css/pagination.css">
<script>
	setTitle('Collections');
	
	fillListByProducts("src/collections.json");
	
</script>

<div id="prodList">
	<div id="data-container" class="product-list"></div>
	<div id="pagination-container"></div>
</div>

<template id="product-template">
	<div>
		<div class="product-cell">
			<img class="product-image-photo" id="product-photo" src="">
			<strong class="product name product-item-name">
				<a class="category-item-link" id="product-link" href="#"></a>
			</strong>
			<div class="price-box price-final_price" data-role="priceBox" data-product-id="2112">
				<span class="price" id="product-price"></span>
			</div>
		</div>
	</div>
</template>