<link rel="stylesheet" type="text/css" href="css/cart.css" />
<script>
	setTitle('Orders');
</script>
	
<!------------------------------------------------------------------------------------------
	PAGE CONTENT
------------------------------------------------------------------------------------------->
<div class="orders-content">
	<div id="table">
		<div class="table-item  mdl-card mdl-shadow--2dp">
			<div class="order-title mdl-card__title">
				<span class="mdl-card__title-text">Order № <span id="order-item-number">123456</span></span>				
			</div>
			<div class="order-item-body mdl-card__supporting-text">
				<div>
					<span>Delivery date:</span>
					<span id="order-item-date">30-12-2016</span>
				</div>
				<div>
					<span>Items amount:</span>
					<span id="order-item-count">30</span>
				</div>
				<div>
					<span>Items amount:</span>
					<span id="order-item-subtotal">€300.00</span>
				</div>			
			</div>
			<hr>	
			<div class="order-item-body mdl-card__supporting-text">
				<div id="order-product-list">
					<div class="order-product-list-item">
						<span id="order-product-name">Product name</span>
						<span>
							(<span id="order-product-items">7</span> items)
						</span>
					</div>
					<div class="order-product-list-item">
						<span id="order-product-name">Product name</span>
						<span>
							(<span id="order-product-items">7</span> items)
						</span>
					</div>
					<div class="order-product-list-item">
						<span id="order-product-name">Product name</span>
						<span>
							(<span id="order-product-items">7</span> items)
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>