<link rel="stylesheet" type="text/css" href="css/getmdl-select.min.css" /> 
<link rel="stylesheet" type="text/css" href="css/raiting.css" />  
<link rel="stylesheet" type="text/css" href="css/review.css" /> 
<!--	<script src="js/review.js"></script>-->


<script>
	setTitle('Write a review');
	
	function loadReview(name) {
		$('#review-product-name').html(name);
	}
</script>

<div class="review-content">
	<div class="review-block">
		<span class="review-label">You're reviewing:</span>
		<span id="review-product-name" class="product-name"></span>
	</div>
	<div class="review-block">
		<span class="review-label">Your Rating <span class="required-field-star">*</span></span>
		<fieldset class="rating">
			<input type="radio" id="raiting5" name="rating" value="5"/><label id="lab5" class = "full" for="raiting5" title="Excellent"></label>
			<input type="radio" id="raiting4" name="rating" value="4" /><label class = "full" for="raiting4" title="Very good"></label>
			<input type="radio" id="raiting3" name="rating" value="3" /><label class = "full" for="raiting3" title="Average"></label>
			<input type="radio" id="raiting2" name="rating" value="2" /><label class = "full" for="raiting2" title="Poor"></label>
			<input type="radio" id="raiting1" name="rating" value="1" /><label class = "full" for="raiting1" title="Terrible"></label>
		</fieldset>
	</div>
	<div class="review-fields"> 
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="fNickname">
			<label class="mdl-textfield__label" for="fNickname">* Nickname</label>
			<span class="mdl-textfield__error">Nickname is not valid</span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="fSummary">
			<label class="mdl-textfield__label" for="fSummary">* Summary</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<textarea class="mdl-textfield__input" type="text" id="fReview" rows="3"></textarea>
			<label class="mdl-textfield__label" for="fReview">* Review</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="fWhatLike">
			<label class="mdl-textfield__label" for="fWhatLike">What I like about this product</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="fWhatNotLike">
			<label class="mdl-textfield__label" for="fWhatNotLike">What I don't like about this product</label>
		</div>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="submitReview();">
			Submit review
		</button>
	</div>
	<div class="review-list" id="reviews"> </div>
</div>

<template id="review-template">
	<div class="review-list-item">
			<hr>
			<div class="user-review">
				<div class="review-avatar" id="profile-image">
				</div>
				<div class="review-detail">
					<div class="review-header">
						<div class="review-info">
							<div class="review-author" id="review-author">
								Author
							</div>
							<div class="review-date" id="review-date">
								8/13/16
							</div>
						</div>
						<div class="review-raiting">
							<fieldset class="rating" style="pointer-events: none;">
								<input type="radio" id="star5" name="rating" value="5" /> <label id="lab5" class = "full" for="star5" title="Excellent"></label>
								<input type="radio" id="star4" name="rating" value="4" /> <label class = "full" for="star4" title="Very good"></label>
								<input type="radio" id="star3" name="rating" value="3" /> <label class = "full" for="star3" title="Average"></label>
								<input type="radio" id="star2" name="rating" value="2" /> <label class = "full" for="star2" title="Poor"></label>
								<input type="radio" id="star1" name="rating" value="1" /> <label class = "full" for="star1" title="Terrible"></label>
							</fieldset>
						</div>
					</div>
					<div class="review-body">
						<span class="review-summary" id="review-summary"></span>
						<span class="review-message" id="review-message"></span>
					</div>
				</div>
			</div>
		</div>
</template>